<div id="allContent">
    <div id="top">
        <div id="leftBar">Testing out JavaScript Stack</div>
        <div id="rightBar">Not too bad!!</div>
    </div>
    <div class="separator"></div>

    <div id="people">

        <script id="person-template" type="text/x-handlebars-template">
            {{person_firstName}} {{person_lastName}} says: {{person_message}}
        </script>

    </div>

    <div class="separator"></div>

    <div id="peopleAndPets">
        <script id="personAndPets-template" type="text/x-handlebars-template">
            {{pet_firstName}} {{pet_lastName}} is a {{pet_type}} who is owned by: {{person_firstName}}
        </script>
    </div>
</div>