doctype html
html
    head
        title JS Is Fun!
        link(rel='stylesheet' href='../public/css/style.css')
    body
        block content
        script(src='../public/javascript/underscore.js')
        script(src='../public/javascript/jquery.js')
        script(src='../public/javascript/backbone.js')
        script(src='../public/javascript/handlebars.js')
        script(src='../public/javascript/entry.js')
        script(src='../public/javascript/client.js')